@use '../../../node_modules/@haiilo/catalyst/dist/catalyst/scss/variables';

.write-your-comment {
  margin-top: variables.cat-token('size.spacing.s');
}

.write-comment {
  display: flex;
  gap: variables.cat-token('size.spacing.s');

  .comment-textarea-wrapper {
    flex: 1;

    .fullsize-textarea {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      resize: none;
      border-color: variables.cat-token('color.ui.border.dark');
      font-family: Lato;
    }
  }

  .save-comment-btn {
    display: flex;
    flex-direction: column;
    gap: variables.cat-token('size.spacing.s');
    align-self: center;
  }
}

.comments-wrapper {
  display: flex;
  flex-direction: column;
  gap: variables.cat-token('size.spacing.s');

  .divider {
    width: 100%;
    height: 1px;
    margin: variables.cat-token('size.spacing.s') 0;
    background-color: variables.cat-token('color.ui.background.skeletonHighlight');
  }

  .comment-wrapper {
    display: flex;
    flex-direction: column;

    .divider {
      background-color: variables.cat-token('color.ui.background.skeleton');
    }
  }
}
